<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Advanced Development Assignment 2021">
    <meta name="author" content="William Wernick">

    <title>IKEAD</title>

    <!-- Bootstrapgit config --global user.name core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom styles -->
    <link href="static/css/custom.css" rel="stylesheet">
  </head>

  {% set navigation_bar = [('/store', 'store', 'Store'), ('/ordermanager', 'supplyfulfillment', 'Supply & Fulfillment'), ('/admin','admincentre','Admin Centre')] -%}

  {% set active_page = active_page|default('store') -%}

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #0051BA;">

      <a style="font-size: 30px; color:#FFDA1A; font-weight: bold; cursor:default; margin-right:10px">IKEAD</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav">

          {% for href, id, caption in navigation_bar %}

            {% if ((id == "supplyfulfillment" and role == "admin") or (id == "admincentre" and role == "admin") or (id == "store")) %}

                {% if id == active_page %}

                    <li class="nav-item active">

                    <a class="nav-link" href="{{ href|e }}">{{ caption|e }} <span class="sr-only">(current)</span></a>

                    </li>

                {% else %}

                    <li class="nav-item">

                    <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>

                    </li>

                {% endif %}

            {% endif %}

          {% endfor %}    

        </ul>
        
      </div>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="margin-right: 20px;">

        <ul class="navbar-nav ml-auto">
            
            {% if token%}            
                <li class="nav-item">

                    <a class="nav-link" href="/checkout">
                    
                        <img src="https://i.imgur.com/hF0SqCz.png" alt ="Basket image" style="width: 30px; height:30px" onmouseover="" title="Basket"> 
                    
                    </a>

                </li>

                <li class="nav-item dropdown active">

                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ name }}</a>

                    <div class="dropdown-menu">
                        
                        <a class="dropdown-item" href="/orderhistory">Orders</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" onclick="logout()">Logout</a>

                    </div>

                </li> 
            {% else %}
                <button class="btn navbar-btn" style="font-weight: bold; color:#0051BA; cursor: pointer;" onclick="openLoginOverlay()">Sign In</button>
            {% endif %}
        </ul>

      </div>

    </nav>

    <main role="main" class="container-fluid" style="height: 85vh;">

      {% block content %}
      {% endblock %}

    </main>

    <div id="loginOverlay" style="position:fixed; display: none; width: 100%; height:100%; top:0; left:0; right:0; bottom:0; background-color: rgba(0,0,0,0.5); z-index: 1031; align-items: center; justify-content: center;">

        <div id="loginContainer" style="position:relative; width:480px; height:387px; background-color: white; border-radius:10px">

            <img src="https://i.imgur.com/l9ziZ90.png" alt="" style="width:30px; height:30px; position: absolute; top:10px; right:10px; cursor: pointer;" onclick="closeLoginOverlay()"/>
            
            <div id="loginInputContainer" style="width:80%; height:100%; margin-left: 10%;">

                <div style="width:100%; height:100%;">

                    <h2 style="width:100%; text-align: center; padding-top:5%;">Sign In</h2>

                    <div style="width:100%; display:flex; flex-direction:column; margin-top:20px">

                        <label style="margin-bottom:0;">Email:</label>
                        <input id="usernameInput" style="height:50px; border-radius: 5px; outline:none; padding-left:10px;" type="text"/>

                        <label style="margin-bottom:0; margin-top:5%">Password:</label>
                        <input id="passwordInput" style="height:50px; border-radius: 5px; outline:none; padding-left:10px;" type="password"/>

                    </div>

                    <button onclick="login(document.getElementById('usernameInput').value, document.getElementById('passwordInput').value)" style="width:80%; height:50px; margin-left: 10%; margin-top:10%; border-radius: 10px; cursor: pointer; background-color:#0051BA; color:#ffffff; font-size: 25px; border:0px; outline:none;">Sign In</button>
                    
                    <div style="display: flex; justify-content: center; margin-top: 2%;">
                        <label>Dont have an account?</label> <label style="margin-left:5px; color: blue; cursor: pointer;" onclick="openRegisterInputs()">Sign up</label>
                    </div>
                    

                </div>

            </div>

            <div id="registerInputContainer" style="width:80%; height:100%; margin-left: 10%; display:none;">

                <div style="width:100%; height:100%;">

                    <h2 style="width:100%; text-align: center; padding-top:5%;">Register</h2>

                    <div style="width:100%; display:flex; flex-direction:column; margin-top:20px">

                        <label style="margin-bottom:0;">Email:</label>
                        <input id="registerUsernameInput" style="height:50px; border-radius: 5px; outline:none; padding-left:10px;" type="text"/>

                        <label style="margin-bottom:0; margin-top:5%">Password:</label>
                        <input id="registerPasswordInput" style="height:50px; border-radius: 5px; outline:none; padding-left:10px;" type="password"/>

                    </div>

                    <button onclick="signup(document.getElementById('registerUsernameInput').value, document.getElementById('registerPasswordInput').value)" style="width:80%; height:50px; margin-left: 10%; margin-top:10%; border-radius: 10px; cursor: pointer; background-color:#0051BA; color:#ffffff; font-size: 25px; border:0px; outline:none;">Create Account</button>
                    
                    <div id="registerErrorContainer" style="display: none; justify-content: center; margin-top: 2%;">
                        <label id="registerErrorLabel" style="color:red;"></label>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        function openLoginOverlay() {
          document.getElementById("loginOverlay").style.display = "flex";
        }
        
        function closeLoginOverlay() {
          document.getElementById("loginOverlay").style.display = "none";
        }

        function openRegisterInputs() {
            document.getElementById("loginInputContainer").style.display = "none";
            document.getElementById("registerInputContainer").style.display = "flex";
        }
    </script>

    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyB-R71ejfT3BLdBUQYzElpk2WGJq7rYWFs",
            authDomain: "ad-assignment-e572e.firebaseapp.com",
            projectId: "ad-assignment-e572e",
            storageBucket: "ad-assignment-e572e.appspot.com",
            messagingSenderId: "1001766370754",
            appId: "1:1001766370754:web:248cbbb38cf86779b7ea5b",
            measurementId: "G-016GE20XNT"
        };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);


    </script>

    <script src="static/scripts/auth_scripts.js"></script>
       
  </body>
</html>
