{% extends "base.html" %}

{% if pageType == "admin" %}

    {% set active_page = "supplyfulfillment" %}

{% else %}

    {% set active_page = "" %}

{% endif %}

{% block content %}

<div style="width: 100%; height:100%;">
    <div style="width: 40%; height:100%; margin-left: 30%; margin-top: 20px;">

        <!-- <div id ="orderSearchBar" style="width:60%; height:15%; background-color: rgba(244, 244, 244, 1); border-radius: 10px; margin-left: 20%;">

            <label style="margin-top: 2%; margin-left: 2%; margin-bottom: 0px; font-size: 20px; font-weight: bold;">Order Manager: Search and Filter</label>

            <label style="margin-left: 10px;">Enter an order number or an order reference to search.</label>

            <div style="margin-left:2%; height: 25%; display: flex; flex-direction: row;">

                <input id="orderFilterTextbox" type="text" style="width:62%; height:100%; border-radius: 5px; border:1px solid #000000; outline:none; padding-left:10px"/>

                <button id="searchOrders" style="width:30%; height:100%; margin-left:4%; cursor: pointer; background-color: #0051BA; color:#FFDA1A; font-weight: bold; border:none; border-radius: 10px; outline:none;">SEARCH</button>

            </div>

        </div> -->

        <div id="orderListContainer" style="width: 100%; height:83%; margin-top: 2%;">

            <div id="orderListHeader" style="width:100%; height:5%; display:flex; flex-direction: row; color:rgba(147, 147, 147, 1); border-bottom: 1px solid #000000">

                <label style="width: 19.4%; height:100%; margin-left: 4%; margin-bottom: 0px; display: flex; align-items: center;">Order No.</label>                
                <label style="width: 19.4%; height:100%; margin-bottom: 0px; display: flex; align-items: center;">Order Date</label>
                <label style="width: 19.4%; height:100%; margin-bottom: 0px; display: flex; align-items: center;">No. of Items</label>
                <label style="width: 19.4%; height:100%; margin-bottom: 0px; display: flex; align-items: center;">Order Total</label>
                <label style="width: 19.4%; height:100%; margin-bottom: 0px; display: flex; align-items: center;">Current Status</label>
                <div style="width:3%; height:100%"></div>

            </div>

            <div id="orderListBody" style="width:100%; height:95%; overflow-y: auto;">

                {% for item in order %}

                    <div id="orderListItemRow_" style="width:100%; height:6%; display:flex; flex-direction: row; border-bottom: 1px solid rgba(0,0,0,.125)">

                        <label id="orderListItem_1_{{ item['orderID'] }}" style="width: 19.4%; height:100%; margin-left: 4%; margin-bottom: 0px; display: flex; align-items: center;">{{ item['orderID'] }}</label>                
                        <label id="orderListItem_2_{{ item['orderID'] }}" style="width: 19.4%; height:100%; margin-bottom: 0px; display: flex; align-items: center;">{{ item['orderDate'] }}</label>
                        <label id="orderListItem_3_{{ item['orderID'] }}" style="width: 19.4%; height:100%; margin-bottom: 0px; display: flex; align-items: center;">{{ item['orderContents'] }}</label>
                        <label id="orderListItem_4_{{ item['orderID'] }}" style="width: 19.4%; height:100%; margin-bottom: 0px; display: flex; align-items: center;">£{{ item['billing']['total'] }}</label>

                        {% if item['orderStatus'] == "Completed"%}

                            <label id="orderListItem_5_{{ item['orderID'] }}" style="width: 19.4%; height:100%; margin-bottom: 0px; display: flex; align-items: center; font-weight: bold; color:green;">{{ item['orderStatus'] }}</label>

                        {% elif item['orderStatus'] == "Cancelled" %}

                            <label id="orderListItem_5_{{ item['orderID'] }}" style="width: 19.4%; height:100%; margin-bottom: 0px; display: flex; align-items: center; font-weight: bold; color:red;">{{ item['orderStatus'] }}</label>

                        {% else %}

                            <label id="orderListItem_5_{{ item['orderID'] }}" style="width: 19.4%; height:100%; margin-bottom: 0px; display: flex; align-items: center; font-weight: bold;">{{ item['orderStatus'] }}</label>

                        {% endif %}

                        <div style="width:3%; height:100%;">
                            
                            {% if pageType == "admin" %}

                                <a href="/ordermanager/{{ item['orderID'] }}" style="height:100%; width: 100%; display:flex; align-items: center; justify-content: center;">
                                    <img src="https://storage.googleapis.com/teak-amphora-328909.appspot.com/plusIcon.png" alt="open order plus image" title="Open Order" style="width: 15px; height: 15px; cursor: pointer;"/>
                                </a>

                            {% elif pageType == "user" %}

                                <a href="/orderhistory/{{ item['orderID'] }}" style="height:100%; width: 100%; display:flex; align-items: center; justify-content: center;">
                                    <img src="https://storage.googleapis.com/teak-amphora-328909.appspot.com/plusIcon.png" alt="open order plus image" title="Open Order" style="width: 15px; height: 15px; cursor: pointer;"/>
                                </a>

                            {% endif %}
                        </div>

                    </div>

                {% endfor %}

            </div>

        </div>
       
    </div>
</div>

{% endblock %}
